.history/
.dep
*.o
*.bin
*.eep
*.elf
*.hex
*.qmk
!util/bootloader.hex
!quantum/tools/eeprom_reset.hex
*.log
*.lss
*.lst
*.map
*.sym
*.swp
tags
*~
build/
.build/
*.bak
.vagrant/
quantum/version.h
.idea/
CMakeLists.txt
cmake-build-debug
.clang_complete
doxygen/
.DS_Store
/util/wsl_downloaded
/util/win_downloaded
/keyboards/*/Makefile
/keyboards/*/*/Makefile
/keyboards/*/*/*/Makefile
/keyboards/*/*/*/*/Makefile
/keyboards/*/*/*/*/*/Makefile
/keyboards/*/keymaps/Makefile
/keyboards/*/*/keymaps/Makefile
/keyboards/*/*/*/keymaps/Makefile
/keyboards/*/*/*/*/keymaps/Makefile
/keyboards/*/*/*/*/*/keymaps/Makefile

# Eclipse/PyCharm/Other IDE Settings
.cproject
.project
.settings/
.idea
*.iml
.browse.VC.db*
*.stackdump
# Let these ones be user specific, since we have so many different configurations
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/last.sql
.vscode/temp.sql
.vscode/ipch/
.stfolder
.tags

# ignore image files
*.png
*.gif
*.jpg

# things travis sees
secrets.tar
id_rsa_*
/.vs

# python things
__pycache__

# prerequisites for updating ChibiOS
/util/fmpp*

# Allow to exist but don't include it in the repo
user_song_list.h
keyboards/musashi60/.editorconfig
keyboards/musashi60/config.h
keyboards/musashi60/info.json
keyboards/musashi60/musashi60.c
keyboards/musashi60/musashi60.h
keyboards/musashi60/readme.md
keyboards/musashi60/rules.mk
keyboards/musashi60/transport.c
keyboards/musashi60/keymaps/default/config.h
keyboards/musashi60/keymaps/default/keymap.c
keyboards/musashi60/keymaps/default/readme.md
keyboards/r2k2/config.h
keyboards/r2k2/re42.c
keyboards/r2k2/re42.h
keyboards/r2k2/readme.md
keyboards/r2k2/rules.mk
keyboards/r2k2/keymaps/default/keymap.c
keyboards/r2k2/keymaps/default/readme.md
keyboards/r2k2/keymaps/leftjp/config.h
keyboards/r2k2/keymaps/leftjp/keymap.c
keyboards/r2k2/keymaps/leftjp/readme.md
keyboards/r2k2/keymaps/via/keymap.c
keyboards/r2k2/keymaps/via/readme.md
keyboards/r2k2/keymaps/via/rules.mk
keyboards/r2k2/lib/glcdfont.c
keyboards/r2k2/r2k2.c
keyboards/r2k2/r2k2.h
